.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    white-space: nowrap;

    &--primary {
        color: white;
        background-color: #4f2ac3;
    }
    
    @media (max-width: 640px) {
        display: flex;
        width: 100%;
        text-align: center;
    
    }
    
    @media (max-width: 1024px) {
        display: block;
        align-items: center;
    }
}